<header class="main-hdr-nav">
  <div class="mob-menu-icon icon icon-menu bgrd-txt-cardboard" ng-click="unroll()"></div>
  <nav>
    <ul>
      <li><a href="#/" ng-click="unroll()" ng-class="getClass('/')" class="bgrd-txt-cardboard">Home</a></li>
      <li><a href="#/followus" ng-click="unroll()" ng-class="getClass('/followus')" class="bgrd-txt-cardboard">Follow Us</a></li>
      <li><a href="#/gallery" ng-click="unroll()" ng-class="getClass('/gallery')" class="bgrd-txt-cardboard">Gallery</a></li>
      <li><a href="#/records" ng-click="unroll()" ng-class="getClass('/records')" class="bgrd-txt-cardboard">Records</a></li>
    </ul>
  </nav>
</header>