<div class="listen">
  <div class="logo"></div>
  <div class="sharing">
    
    <div>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffruitsveggies.ntdotme.com" target="_blank" ng-click="sendAnalytics('fb')">
        <span class="icon icon-facebook"></span>
      </a>
    </div>
    <!-- <a href="https://twitter.com/intent/tweet?source=webclient&text=Fruits+And+Veggies%2C+Chicago+for+%40WavefrontFest+feat+%40Diplo%2C+%40FatboySlim%2C+Justice+%28DJ+set%29+"> -->
    <div>
      <a href="https://twitter.com/intent/tweet?source=webclient&text=Fruits+And+Veggies%2C+Durban+" target="_blank" ng-click="sendAnalytics('twitter')">
        <span class="icon icon-twitter"></span>
      </a>
    </div>
    <div>
      <a href="https://plus.google.com/share?url=http%3A%2F%2Ffruitsveggies.ntdotme.com" target="_blank" ng-click="sendAnalytics('gplus')"> 
        <span class="icon icon-google-plus"></span>
      </a>
    </div>
  </div>
</div>
