<!-- <div class="home"> -->

<!--     <style type="text/css">  -->
<!--       .vid{ -->
<!--        display: inline-block; -->

<!--        width: 100%; -->
<!--        height:auto; -->
<!--       -moz-transform:rotate(90deg); -->
<!--       -webkit-transform:rotate(90deg); -->
<!--       -o-transform:rotate(90deg); -->
<!--       -ms-transform:rotate(90deg); -->
<!--        transform:rotate(90deg); -->
<!--       } -->
<!--     </style>  -->

<!--     <div class="banner-panel"> -->
<!--       <section class="banner-pic"></section><section class="banner-pic"></section><div class="vid"><video autoplay="autoplay" loop preload="auto"><source src="../videos/smokevert.mp4" type="video/mp4"></video></div> -->
<!--       </div> -->
<!--   <\!-- <div class="testanim"> -\-> -->
<!--   <\!--   <span> -\-> -->
<!--   <\!--     <span> -\-> -->
<!--   <\!--       <img src="../images/fnv.jpg" alt="" /> -\-> -->
<!--   <\!--       <\\!-- <img src="../images/charcoal--full.jpg" alt="" /> -\\-> -\-> -->
<!--   <\!--     </span> -\-> -->
<!--   <\!--   </span> -\-> -->
<!--   <\!-- </div> -\-> -->

<!-- </div> -->
