<div class="home" ng-controller="MainCtrl">
  
  <div class="hdr-image-wrap"> 
    <img class="hdr-image" src="../images/cover-prog.jpg" alt="" />
    <div class="hdr-content">
      <!-- <h1 class="bgrd-txt-paper hdr-grp">PROGRAM</h1> -->
    </div>
  </div>
  <div class="empty"></div>
  <div class="main" id="main">
    <div ng-include="'views/_listen.html'"></div>
    <div class="content" ng-controller="FollowusCtrl">
      <div class="content-cell cell-type1">
        <img src="../images/fb-grunge.jpg" href="https://www.facebook.com/fruitsandveggies031" alt="" />
      </div>
      <div class="content-cell cell-type1 darker">
        <img src="../images/utube-grunge.png" href="http://www.youtube.com/user/FRUITSandVEGGIESza?feature=watch" alt="" />
      </div>
      <div class="content-cell cell-type1 light">
        <img src="../images/wall-follow.jpg" alt="" />
      </div>
    </div>
  </div>

</div>
