<div class="home" ng-controller="MainCtrl">
  
  <div class="hdr-image-wrap"> 
    <img class="hdr-image" src="../images/cover-gallery.jpg" alt="" />
    <div class="hdr-content">
      <!-- <h1 class="bgrd-txt-paper hdr-grp">PROGRAM</h1> -->
    </div>
  </div>
  <div class="empty"></div>
  <div class="main" id="main">
    <div class="listen">
      <div class="logo"></div>
      <div class="sharing">
        <span class="icon icon-facebook"></span>
        <span class="icon icon-twitter"></span>
        <span class="icon icon-google-plus"></span>
      </div>
    </div>
    <div class="content">
      <!-- <img src="http://placehold.it/300x300/" alt="" /> -->
      <div class="content-cell-full cell-type1-full light">
        <h2>Cell 2</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <h2>Cell 3</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="content-cell-full cell-type1-full">
        <h2>Cell 4</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <h2>Cell 5</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="content-cell-full cell-type2">
        <h2>Cell 1</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="content-cell-full cell-type1-full">
        <h2>Cell 2</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <h2>Cell 3</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
  </div>

</div>
