<div class="home" ng-controller="MainCtrl" fb-like>
  
  <div class="hdr-image-wrap"> 
    <img class="hdr-image" src="../images/cover-gallery.jpg" alt="" />
    <div class="hdr-content">
      <!-- <h1 class="bgrd-txt-paper hdr-grp">PROGRAM</h1> -->
    </div>
  </div>
  <div class="empty"></div>
  <div class="main" id="main">
    <div ng-include="'views/_listen.html'"></div>
    <div class="content">
      <!-- <img src="http://placehold.it/300x300/" alt="" /> -->
      <div class="content-cell-full cell-type1-full light">
        <img src="../images/gallery/thumb/pic1.jpg" alt="" data-imgsrc="/gallery/pic1--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <div class="quote">
          <span class="quote-txt">&ldquo;mixes up ululation, maskandi style guitar against a kwela bassline in a song about Durbanites&rdquo;</span>
        </div>
      </div>
      <div class="content-cell-full cell-type1-full">
        <img src="../images/gallery/thumb/pic11.jpg" alt="" data-imgsrc="/gallery/pic11--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic7.jpg" alt="" data-imgsrc="/gallery/pic7--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic8.jpg" alt="" data-imgsrc="/gallery/pic8--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <div class="quote">
          <span class="quote-txt">&ldquo;It’s sentimental and grounded and pretty skanking.&rdquo;</span>
        </div>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic3.jpg" alt="" data-imgsrc="/gallery/pic3--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic9.jpg" alt="" data-imgsrc="/gallery/pic9--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic4.jpg" alt="" data-imgsrc="/gallery/pic4--full.jpg " fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic15.jpg" alt="" data-imgsrc="/gallery/pic15--full.jpg" fullpic/>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <div class="quote">
          <span class="quote-txt">&ldquo;The kind of song that raises power fists in mosh pits.&rdquo;</span>
        </div>
      </div>
      <div class="content-cell-full cell-type1-full darker">
        <img src="../images/gallery/thumb/pic14.jpg" alt="" data-imgsrc="/gallery/pic14--full.jpg " fullpic/>
      </div>
    </div>
  </div>
  <div id="filter"></div>
  <div id="zoomimg"></div>
</div>
