<div class="home" ng-controller="MainCtrl">
  
  <div class="hdr-image-wrap"> 
    <img class="hdr-image" src="../images/cover-records.jpg" alt="" />
    <div class="hdr-content">
      <!-- <h1 class="bgrd-txt-paper hdr-grp">PROGRAM</h1> -->
    </div>
  </div>
  <div class="empty"></div>
  <div class="main" id="main">
    <div class="content">
      <div class="content-cell-first cell-type3 black">
        <header>
          <img class="album-cover" src="../images/cover_ndaa.png" alt="" />
          <h2 class="bgrd-txt-paper">NDAA</h2>
        </header>
        <div class="album-cover-detail">
          <section>
            <ul>
              <li class="track">I. The Way, The Truth and The Lies
              </li>
              <li class="track">II. More Fire For Mandla
              </li>
              <li class="track">III. Without a Gwaai Or A Cent
              </li>
              <li class="track">IV. Nobby Creek
              </li>
            </ul>
          </section>
          <section>
            <ul>
              <li class="track">V. Laat Ons Waai
              </li>
              <li class="track">VI. An Embarrassment in E Minor
              </li>
              <li class="track">VII. Ngzogwazimja
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>
