<div class="home" ng-controller="MainCtrl">
  
  <div class="hdr-image-wrap"> 
    <img class="hdr-image" src="../images/cover-records.jpg" alt="" />
    <div class="hdr-content">
      <!-- <h1 class="bgrd-txt-paper hdr-grp">PROGRAM</h1> -->
    </div>
  </div>
  <div class="empty"></div>
  <div class="main" id="main">
    <div class="content">
      <div class="content-cell-first cell-type3 black">
        <header>
          <img class="album-cover" src="../images/cover_ndaa.png" alt="" />
          <h2 class="bgrd-txt-paper">NDAA</h2>
        </header>
        <div class="album-cover-detail">
          <section>
            <ul>
              <li class="track">I. The Way, The Truth and The Lies
              </li>
              <li class="track">II. More Fire For Mandla
              </li>
              <li class="track">III. Without a Gwaai Or A Cent
              </li>
              <li class="track">IV. Nobby Creek
              </li>
            </ul>
          </section>
          <section>
            <ul>
              <li class="track">V. Laat Ons Waai
              </li>
              <li class="track">VI. An Embarrassment in E Minor
              </li>
              <li class="track">VII. Ngzogwazimja
              </li>
            </ul>
          </section>
          <section>
            <div class="widget_iframe" style="display:inline-block;width:380px;height:320px;margin:0;padding:0;border:0;">
              <iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_1290745?widget_id=50&pwc[design]=customized&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=custom" width="100%" height="100%" frameborder="0" scrolling="no">
              </iframe>
              <div class="footer_branding" style="margin-top:-5px;font-size:10px;font-family:Arial;">
                <center><a href="http://www.reverbnation.com/band-promotion/how-to-sell-music-on-itunes?utm_campaign=a_features_distribution&utm_medium=widget&utm_source=HTML5_Player&utm_content=widgetfooter_Sell music on itunes at ReverbNation.com" target="_blank" style="text-decoration:none;color:#444;">Sell music on itunes at ReverbNation.com</a></center>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>